///=========================Section Header
.smart-parking-header-v3 {
  width: 100%;
  position: relative;
  // padding: clamp( 40px, 15vw, 250px) clamp( 20px, 20vw, 370px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: clamp(560px, 60vw, 844px);
  overflow: hidden;
  .back-ground {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    max-height: 844px;
    min-height: 560px;
    .back-ground__img {
      mask-image: linear-gradient(
        to bottom,
        rgba(64, 64, 64, 1) 0%,
        rgba(64, 64, 64, 0.75) 35%,
        rgba(64, 64, 64, 0) 60%
      );
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(
        180deg,
        #32d7d4 0%,
        rgba(8, 156, 234, 0.65) 55.41%,
        rgba(8, 156, 234, 0.1) 85.6%,
        rgba(255, 255, 255, 0) 100%
      );
      opacity: 1;
    }
  }
  .smart-parking-header-container {
    width: clamp(420px, 100%, 1180px);
    padding: 40px 20px;
    .smart-parking-header-content {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      & > * {
        max-height: 343px;
      }
      .content-left {
        width: 100%;
        max-width: 600px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        .content-left-title {
          font-family: "SVN Gilroy";
          font-style: normal;
          font-weight: 800;
          font-size: clamp(32px, 4vw, 62px);
          line-height: 72px;
          letter-spacing: 1px;
          color: #ffffff;
        }
        .content-left-text {
          font-family: "SVN Gilroy";
          font-style: normal;
          font-weight: 700;
          font-size: clamp(14px, 1vw, 16px);
          line-height: 24px;
          color: #ffffff;
        }
      }
      .content-right {
        width: clamp(180px, 25vw, 400px);
        .content-right__img {
          width: 100%;
        }
      }
    }
  }
}
///=========================End Section Header

///=========================Begin Section Smart Parking

.smart-parking-definition-v3 {
  width: 100%;
  height: 624px;
  display: flex;
  flex-direction: column;

  .content {
    max-width: 1180px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;

    .left-content {
      max-width: 590px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      row-gap: 16px;

      .left-content-title {
        height: 100%;
        max-height: 32px;
        font-family: "SVN Gilroy";
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 32px;
        color: #0979fd;
      }

      .left-all-description-container {
        display: flex;
        flex-direction: column;
        border: 1px solid #6fc0fe;
        border-radius: 16px;
        width: 100%;
      }

      .left-all-description {
        max-height: 288px;
        padding: 32px 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 16px;

        font-family: "SVN Gilroy";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        text-align: justify;
        color: #454647;

        .web-content-desc {
          display: flex;
        }

        .mobile-content-desc {
          display: none;
        }
      }
    }

    .right-content {
      display: flex;

      .right-content-container {
        height: fit-content;
        width: 100%;
        max-width: 558px;
        align-self: flex-end;
        display: flex;
        flex-wrap: wrap;
        row-gap: 94px;
      }

      .right-icon-item {
        max-width: 186px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        row-gap: 16px;

        .icon-item-title {
          font-family: "SVN Gilroy";
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          text-align: center;
          color: #454647;
        }
      }
    }
  }
}

///=========================End Section Smart Parking

///=========================Responsive
@media (max-width: 900px) {
  .smart-parking-header-v3 {
    background-image: linear-gradient(
      180deg,
      #32d7d4 0%,
      rgba(8, 156, 234, 0.65) 55.41%,
      rgba(8, 156, 234, 0.1) 85.6%,
      rgba(255, 255, 255, 0) 100%
    );
    .back-ground {
      .back-ground__img {
        position: absolute;
        min-height: 360px;
        top: 35%; //
      }
      &::after {
        opacity: 1;
      }
    }
    .smart-parking-header {
      .smart-parking-content {
        flex-direction: column;
        gap: 32px;
        .content-left {
          display: flex;
          flex-direction: column;
          gap: 16px;
          .content-left-title {
            align-items: center; //
          }
          .content-left-text {
            line-height: 24px; //
          }
        }
      }
    }
  }
}

// Section Smart Parking

@media only screen and (max-width: 1200px) {
  .smart-parking-definition-v3 {
    height: 824px;
    .content {
      flex-direction: column;
      align-items: center;
      gap: 43px;

      .left-content {
        align-items: center;
        height: 100%;
        width: 100%;
        .left-all-description {
          .web-content-desc {
            display: none;
          }

          .mobile-content-desc {
            display: flex;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 620px) {
  .smart-parking-definition-v3 {
    padding: 40px 20px;
    .content {
      .left-content {
        max-width: 388px;
      }

      .right-content {
        .right-content-container {
          max-width: 388px;
        }
      }
    }
  }
}

@media only screen and (max-width: 412px) {
  .smart-parking-definition-v3 {
    .content {
      .left-content {
        max-width: 388px;
      }

      .right-content {
        .right-content-container {
          max-width: 388px;
        }

        .right-icon-item {
          max-width: 120px;
        }
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  .smart-parking-definition-v3 {
    .content {
      .left-content {
        max-width: 388px;
      }

      .right-content {
        .right-content-container {
          max-width: 388px;
          gap: 50px;
          justify-content: center;
        }

        .right-icon-item {
          max-width: 120px;
        }
      }
    }
  }
}
