///=========================Section Header
.smart-parking-v3-header{
    width: 100%;
    position: relative;
    // padding: clamp( 40px, 15vw, 250px) clamp( 20px, 20vw, 370px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: clamp( 560px, 60vw, 844px);
    overflow: hidden;
    .back-ground{
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        max-height: 844px;
        min-height: 560px;
        .back-ground__img{
            mask-image: linear-gradient(
                to bottom,
                rgba(64, 64, 64, 1) 0%,
                rgba(64, 64, 64, 0.75) 60%,
                rgba(64, 64, 64, 0) 100%,
            );
        }
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(180deg, #32D7D4 0%, rgba(8, 156, 234, 0.65) 55.41%, rgba(8, 156, 234, 0.1) 85.6%, rgba(255, 255, 255, 0) 100%);
            opacity: 1;
        }
    }
    .smart-parking-header{
        width: clamp( 420px, 100%, 1180px);
        padding: 40px 20px;
        .smart-parking-content{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            & > *{
                max-height: 343px;
            }
            .content-left{
                width: 100%;
                max-width: 600px;
                display: flex;
                flex-direction: column;
                gap: 16px;
                .content-left-title{
                    font-family: 'SVN Gilroy';
                    font-style: normal;
                    font-weight: 800;
                    font-size: clamp( 32px, 4vw, 62px);
                    line-height: 72px;
                    letter-spacing: 1px;
                    color: #FFFFFF;
                }
                .content-left-text{
                    font-family: 'SVN Gilroy';
                    font-style: normal;
                    font-weight: 700;
                    font-size: clamp( 14px, 1vw, 16px);
                    line-height: 24px;
                    color: #FFFFFF;
                }
            }
            .content-right{
                width: clamp(180px, 25vw, 400px);
                .content-right__img{
                    color: #C4C4C4;
                    width: 100%;
                }
            }
        }
    }
}
///=========================End Section Header
///=========================Section Solution
.section-parking-solution{
    .parking-solution-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 60px;
        .content{
            justify-content: center;
            align-items: center;
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 14px;
            .title{
                font-family: 'SVN-Gilroy';
                font-style: normal;
                font-weight: 700;
                font-size: 36px;
                text-align: center;
                color: #2C2D2E;
            }
            .sub-title{
                font-family: 'SVN-Gilroy';
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                text-align: center;
                letter-spacing: 0.22em;
                color: #0979FD;
            }
            .underline{
                width: 88px;
                height: 4px;
                background: linear-gradient(90deg, #5A20FF 0%, #00E0C5 100%);
                border-radius: 200px;
            }
        }
        .solution-item-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            max-width: 1180px;
            gap: 60px;
            padding: 20px;
            .solution-title{
                font-family: 'SVN-Gilroy';
                font-style: normal;
                font-weight: 700;
                font-size: 28px;
                line-height: 32px;
                color: #0979FD;
            }
            .solution-content{
                height: 184px;
                width: 100%;
                display: flex;
                align-items: flex-end;
                justify-content: center;
                gap: 50px;
                .left-content{
                    width: 34%;
                    height: 80%;
                    position: relative;
                    .content{
                        width: 100%;
                        height: 70%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        min-height: 144px;
                        padding: 24px 40px;
                        gap: 16px;
                        background: #FFFFFF;
                        box-shadow: 0px 2px 7px 1px rgba(112, 144, 176, 0.25);
                        border-radius: 16px;
                        .content-title{
                            font-family: 'SVN-Gilroy';
                            font-style: normal;
                            font-weight: 700;
                            font-size: clamp(16px, 1.5vw, 21px);
                            line-height: 32px;
                            text-align: center;
                            color: #0979FD;
                        }
                        .content-text{
                            font-family: 'SVN-Gilroy';
                            font-style: normal;
                            font-weight: 500;
                            font-size: clamp(12px, 0.83vw, 16px);
                            line-height: 24px;
                            display: flex;
                            align-items: center;
                            text-align: center;
                            color: #454647;
                        }
                    }
                    .icon{
                        width: clamp(60px, 4.4vw, 80px);
                        height: clamp(60px, 4.4vw, 80px);
                        position: absolute;
                        bottom: calc(100% - clamp(30px, 2.2vw, 40px));
                        right   : calc(100% - clamp(30px, 2.2vw, 40px));
                    }
                }
                .right-content{
                    width: 66%;
                    height: 100%;
                    display: flex;
                    justify-content: space-around;
                    align-items: flex-start;
                    flex-wrap: wrap;
                }
            }
        }
    }
}
  
///=========================Responsive
///Header
@media(max-width:900px){
    .smart-parking-v3-header{
        background-image: linear-gradient(180deg, #32D7D4 0%, rgba(8, 156, 234, 0.65) 55.41%, rgba(8, 156, 234, 0.1) 85.6%, rgba(255, 255, 255, 0) 100%);
        .back-ground{   
            .back-ground__img{
                position: absolute;
                min-height: 360px;
                top:35%;
            }
            &::after {
                opacity: 1;
              }
        }
        .smart-parking-header{
            .smart-parking-content{
                flex-direction: column;
                gap: 32px;
                .content-left{
                    display: flex;
                    flex-direction: column;
                    gap: 16px;
                    .content-left-title{
                        text-align: center;
                        align-items: center;
                    }
                    .content-left-text{
                        text-align: center;
                        line-height: 24px;
                    }
                }
            }
        }
    }
}