// About Us Page Version 3
p,
span,
h1,
h2,
h3,
h4 {
  display: block;
  margin-bottom: 0px !important;
}

img {
  max-width: 100%;
  display: block;
}

//-------------Begin Section Header-------------------------------------------------
.about-us-v3 {
  position: relative;
  background: url("../../images/about-us-v3/png/about-us-banner.png") no-repeat
    center center/cover;
  width: 100%;
  height: 400px;
  display: block;
  max-width: 100%;
  margin-top: 80px;
}

.about-us-content {
  position: absolute;
  width: 100%;
  top: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  text-align: center;
}

.about-us-title {
  height: 72px;
  font-family: "SVN-Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 62px;
  line-height: 72px;

  letter-spacing: 1px;
  color: #ffffff;
  margin: 16px 0px;
}

.about-us-subtitle {
  max-width: 786px;
  height: 72px;
  font-family: "SVN-Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;

  color: #f2f3f5;
  margin: 16px 0px;
}

//-------------Begin Section Intro-------------------------------------------------

//-------------Begin Section Our Partner-------------------------------------------------
.bg-section-our-partner {
  background: #f3f9ff;
  .description-line-center {
    margin-top: 60px;
  }
  .our-partner-container {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .logo-items {
    margin-top: 60px;
  }
  .logo-item-content {
    height: 177px;
    display: flex;
    justify-content: center;
    /* text-align: center; */
    align-items: center;
  }
}
//-------------End Section Our Partner-------------------------------------------------

//-------------Begin Section Activity-------------------------------------------------
.bg-section-activity {
  .section-activity-container {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .section-activity-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
    text-align: center;
    color: #0979fd;
  }
  .activity-row {
    padding-top: 120px;
    padding-bottom: 60px;
  }

  .activity-card {
    text-align: center;
    // margin-top: 60px;
    .activity-card-img {
      img {
        margin: 0 auto;
      }
    }
    .activity-card-title {
      font-weight: 500;
      font-size: 21px;
      line-height: 32px;
      text-align: center;
      color: #454647;
    }
  }
  .certification-card {
    text-align: center;
    margin-top: 60px;
    .certification-card-img {
      height: 120px;
      width: 120px;
      display: flex;
      justify-content: center;
      margin: 0 auto;
    }
    .certification-card-title {
      font-weight: 500;
      font-size: 21px;
      line-height: 32px;
      text-align: center;
      color: #454647;
      margin-top: 29px;
      max-width: 383px;
    }
  }
}
//-------------End Section Activity-------------------------------------------------

//-------------Begin Section Customer Centric-------------------------------------------------
.bg-section-customer-centric {
  padding-top: 120px;
  padding-bottom: 120px;
  .customer-centric-row {
    margin-top: 60px;
  }
  .customer-centric-card {
    display: flex;
    margin-bottom: 16px;
    // max-width: 570px;
    padding: 0 24px;
    &:not(:last-child) {
      border-bottom: 1px solid #e1e3e6;
    }
    .customer-centric-icon {
      height: 64px;
      width: 64px;
    }
    .customer-centric-content {
      // max-width: 442px;
      margin-left: 18px;
      margin-bottom: 16px;
      .customer-centric-title {
        font-weight: 700;
        font-size: 28px;
        line-height: 32px;
        color: #0979fd;
        padding-bottom: 8px;
      }

      .customer-centric-item {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #454647;
      }
    }
  }
}
//-------------End Section Customer Centric-------------------------------------------------

//-------------Begin Section Brand Story-------------------------------------------------
.bg-section-brand-story {
  background: #f3f9ff;
  padding-top: 120px;
  padding-bottom: 120px;
  .brand-story-img {
    margin-top: 40px;
  }
}
//-------------End Section Brand Story-------------------------------------------------
