// About Us Page Version 3
p,
span,
h1,
h2,
h3,
h4 {
  display: block;
  margin-bottom: 0px !important;
}

img {
  max-width: 100%;
  display: block;
}

//---------------------------------------------------------------Begin Section Header-------------------------------------------------
.about-us-v3 {
  position: relative;
  background: url("../../images/about-us-v3/png/about-us-banner.png");
  width: 100%;
  height: 400px;
  display: block;
  max-width: 100%;
  margin-top: 80px;
}

.about-us-content {
  position: absolute;
  width: 100%;
  top: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  text-align: center;
}

.about-us-title {
  height: 72px;
  font-family: "SVN Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 62px;
  line-height: 72px;

  letter-spacing: 1px;
  color: #ffffff;
  margin: 16px 0px;
}

.about-us-subtitle {
  max-width: 786px;
  height: 72px;
  font-family: "SVN Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;

  color: #f2f3f5;
  margin: 16px 0px;
}

//---------------------------------------------------------------Begin Section Intro-------------------------------------------------
.section-intro-v3 {
  padding-top: 120px;
}

.intro-container-v3 {
  max-width: 1180px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.intro-top-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.intro-title-v3 {
  font-family: "SVN Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 133%;
  letter-spacing: 0.22em;
  color: #0979fd;
}

.intro-subtitle-v3 {
  font-family: "SVN Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: #2c2d2e;
  margin: 16px 0px;
}

.intro-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.intro-content-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  max-height: 286px;
}

.intro-flex-revert {
  flex-direction: row-reverse;
}

.intro-content-desc {
  max-width: 724px;
  font-family: "SVN Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
  color: #454647;
  margin: 0px 0px;
}

.intro-content-desc-spacing {
  margin-top: 24px;
}

.intro-list-content-container {
  max-width: 724px;
  font-family: "SVN Gilroy";
  font-style: normal;

  text-align: justify;
}

.intro-item-title {
  font-size: 21px;
  line-height: 32px;
  color: #0979fd;
  font-weight: 700;
}

.intro-item-subtitle {
  font-size: 16px;
  line-height: 24px;
  color: #454647;
  font-weight: 500;
}

.intro-bottom-content {
  padding-top: 60px;
  padding-bottom: 120px;
}

.intro-grid-gap {
  display: grid;
  gap: 24px;
}

//---------------------------------------------------------------Begin Section Smart Factory-------------------------------------------------
.section-smart-factory-v3 {
  padding-top: 120px;
  padding-bottom: 120px;
  background: #f3f9ff;
}

.smart-factory-container-v3 {
  max-width: 1180px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.factory-top-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.factory-bottom-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 60px;
}


.factory-bottom-left-content {
  max-width: 560px;
  min-height: 496px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.factory-second-bottom-left-content {
  max-width: 560px;
  min-height: 322px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: auto;
  // padding-left: 50%;
}


.factory-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}

.factory-list-item > div:not(:first-child) {
  margin-left: 10px;
}

.factory-item-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.factory-item-desc {
  font-family: "SVN Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #454647;
  margin-top: 16px;
}

.factory-bottom-right-content {
  min-height: 496px;
  width: 560px;
  margin-left: 60px;
}
.factory-second-bottom-content {
  margin-top: 60px;
  overflow: hidden;
  position: relative;
}

.content-wrap{
  display: flex;
  align-items: center;
  justify-content: end;
  // justify-content: space-between;
  // width: 200%;
  width: 190%;
  float: right;
  margin-right: 5%;
  transition: 0.4s;
}
// .content-wrap:hover{
//   max-width: 190%;
//   width: fit-content;
//   // .factory-second-bottom-left-content{
//   //   margin-right: 10%;
//   // }
// }
.smart-factory-img {
  // width: 100%;
  right: 0%;
  transition: 0.5s;
  border-radius: 4px;
}
.smart-factory-layout-6{
  opacity: 0;
}

.factory-second-bottom-right-content {
  margin-left: calc(50% - 820px);
  min-height: 322px;
  width: 259px;
  position: relative;
  transition: 0.5s;
  &:hover{
    float: right;
    width: 50%;
    margin-right: 0px;
    .smart-factory-layout-1{
      right: -5%;
    }
    .smart-factory-layout-2{
      right: 7%;
    }
    .smart-factory-layout-3{
      right: 25%;
    }
    .smart-factory-layout-4{
      right: 30%;
    }
    .smart-factory-layout-5{
      right: 45%;
    }
    .smart-factory-layout-6{
      right: 55%;
      opacity: 1;
    }
    .smart-factory-layout-7{
      right: 70%;
    }
  }
}

.factory-produce-content {
  min-height: 312px;
  width: 100%;
}

.factory-second-produce-content {
  max-height: 168px;
  width: 100%;
}

p.factory-bottom-left-content {
  font-family: "SVN Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: #2c2d2e;
}

.factory-title-paragraph {
  font-family: "SVN Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
  text-align: justify;
  color: #0979fd;
  margin-bottom: 16px !important;
}

.factory-first-desc {
  margin-bottom: 24px !important;
}

.factory-title-v3 {
  font-family: "SVN Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 133%;
  letter-spacing: 0.22em;
  color: #0979fd;
}

.factory-subtitle-v3 {
  font-family: "SVN Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: #2c2d2e;
  margin: 16px 0px;
}

.smart-factory-slider {
  width: 100%;
}

// for device compose animation
.smart-factory-layout-1 {
  z-index: 1;
  position: absolute;
}

.smart-factory-layout-2 {
  z-index: 2;
  position: absolute;
}

.smart-factory-layout-3 {
  z-index: 3;
  position: absolute;
}

.smart-factory-layout-4 {
  z-index: 4;
  position: absolute;
}

.smart-factory-layout-5 {
  z-index: 5;
  position: absolute;
}

.smart-factory-layout-6 {
  z-index: 6;
  position: absolute;
}

.smart-factory-layout-7 {
  z-index: 7;
  position: absolute;
}
