// About Us Page Version 3
p,
span,
h1,
h2,
h3,
h4 {
  display: block;
  margin-bottom: 0px !important;
}

img {
  max-width: 100%;
  display: block;
}
.underline-img{
  width: 88px;
  height: 4px;
}
//---------------------------------------------------------------Begin Section Header-------------------------------------------------
.about-us-background{
  position: fixed;
  top: 0;
  left: 0%;
  z-index: -1;
  height: 400px;
  width: 100%;
}

.about-us-v3 {
  position: relative;
  width: 100%;
  height: 400px;
  display: block;
  max-width: 100%;
  margin-top: 80px;
}

.about-us-content {
  position: absolute;
  width: 100%;
  top: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  text-align: center;
}

.about-us-title {
  height: 72px;
  font-family: "SVN Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 62px;
  line-height: 72px;

  letter-spacing: 1px;
  color: #ffffff;
  margin: 16px 0px;
}

.about-us-subtitle {
  max-width: 786px;
  height: 72px;
  font-family: "SVN Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;

  color: #f2f3f5;
  margin: 16px 0px;
}

//---------------------------------------------------------------Begin Section Intro-------------------------------------------------
.section-intro-v3 {
  padding-top: 120px;
  background-color: white;
}

.intro-container-v3 {
  max-width: 1180px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.intro-top-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.intro-title-v3 {
  font-family: "SVN Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 133%;
  letter-spacing: 0.22em;
  color: #0979fd;
}

.intro-subtitle-v3 {
  font-family: "SVN Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: #2c2d2e;
  margin: 16px 0px;
}

.intro-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.intro-content-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  max-height: 286px;
}

.intro-flex-revert {
  flex-direction: row-reverse;
}

.intro-content-desc {
  max-width: 724px;
  font-family: "SVN Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
  color: #454647;
  margin: 0px 0px;
}

.intro-content-desc-spacing {
  margin-top: 24px;
}

.intro-list-content-container {
  max-width: 724px;
  font-family: "SVN Gilroy";
  font-style: normal;

  text-align: justify;
}

.intro-item-title {
  font-size: 21px;
  line-height: 32px;
  color: #0979fd;
  font-weight: 700;
}

.intro-item-subtitle {
  font-size: 16px;
  line-height: 24px;
  color: #454647;
  font-weight: 500;
}

.intro-bottom-content {
  padding-top: 60px;
  padding-bottom: 120px;
}

.intro-grid-gap {
  display: grid;
  gap: 24px;
}

//---------------------------------------------------------------Begin Section Smart Factory-------------------------------------------------
.section-smart-factory-v3 {
  padding-top: 120px;
  padding-bottom: 120px;
  background: #f3f9ff;
  overflow: hidden;
}

.smart-factory-container-v3 {
  max-width: 1180px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.factory-top-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.factory-bottom-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 60px;
}

.factory-bottom-left-content {
  max-width: 560px;
  min-height: 496px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.factory-second-bottom-left-content {
  max-width: 560px;
  min-height: 322px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: auto;
  // padding-left: 50%;
}

.factory-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}

.factory-list-item > div:not(:first-child) {
  margin-left: 10px;
}

.factory-item-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.factory-item-desc {
  font-family: "SVN Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #454647;
  margin-top: 16px;
}

.factory-bottom-right-content {
  min-height: 496px;
  width: 560px;
  margin-left: 60px;
}
.factory-second-bottom-content {
  margin-top: 60px;
  overflow: hidden;
  position: relative;
}

.content-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  // justify-content: space-between;
  // width: 200%;
  width: 190%;
  float: right;
  margin-right: 5%;
  transition: 0.4s;
}
// .content-wrap:hover{
//   max-width: 190%;
//   width: fit-content;
//   // .factory-second-bottom-left-content{
//   //   margin-right: 10%;
//   // }
// }
.smart-factory-img {
  // width: 100%;
  right: 0%;
  transition: 0.4s;
  border-radius: 4px;
}
.smart-factory-layout-6 {
  opacity: 0;
}
.smart-factory-layout-7 {
  left: 0;
}
.factory-second-bottom-right-content {
  margin-left: calc(50% - 820px);
  min-height: 322px;
  width: 259px;
  position: relative;
  transition: 0.4s;
  &:hover {
    float: right;
    width: 50%;
    margin-right: 0px;
    .smart-factory-layout-1 {
      right: -5%;
    }
    .smart-factory-layout-2 {
      right: 12%;
    }
    .smart-factory-layout-3 {
      right: 30%;
    }
    .smart-factory-layout-4 {
      right: 35%;
    }
    .smart-factory-layout-5 {
      right: 47%;
    }
    .smart-factory-layout-6 {
      right: 60%;
      opacity: 1;
    }
    .smart-factory-layout-7 {
      left: 0;
    }
  }
}

.smart-factory-swiper-container{
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 50px;
  width: 100%;
}

.smart-factory-slider-wrapper{
  overflow: hidden;
  width: 90%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.smart-factory-slider{
  width: 1920px;
}

.smart-factory-layout-1 {
  z-index: 1;
  position: absolute;
}

.smart-factory-layout-2 {
  z-index: 2;
  position: absolute;
}

.smart-factory-layout-3 {
  z-index: 3;
  position: absolute;
}

.smart-factory-layout-4 {
  z-index: 4;
  position: absolute;
}

.smart-factory-layout-5 {
  z-index: 5;
  position: absolute;
}

.smart-factory-layout-6 {
  z-index: 6;
  position: absolute;
}

.smart-factory-layout-7 {
  z-index: 7;
  position: absolute;
}
//-------------Begin Section Intro-------------------------------------------------

//-------------Begin Section Our Partner-------------------------------------------------
.bg-section-our-partner {
  background: #f3f9ff;
  .description-line-center {
    margin-top: 60px;
  }
  .our-partner-container {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .logo-items {
    margin-top: 60px;
  }
  .logo-item-content {
    height: 177px;
    display: flex;
    justify-content: center;
    /* text-align: center; */
    align-items: center;
  }
}
//-------------End Section Our Partner-------------------------------------------------

//-------------Begin Section Activity-------------------------------------------------
.max-width-1390 {
  max-width: 1390px;
  margin: 0 auto;
}

.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

.bg-section-activity {
  background-color: white;
  .section-activity-container {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .section-activity-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
    text-align: center;
    color: #0979fd;
  }
  .activity-row {
    // padding-top: 120px;
    // padding-bottom: 60px;
    position: relative;
  }

  .activity-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    .activity-card-img {
      margin: 0 auto;
      img {
        height: 240px;
        width: 240px;
      }
    }
    .activity-card-title {
      font-weight: 500;
      font-size: 21px;
      line-height: 32px;
      text-align: center;
      color: #454647;
      margin-top: 16px;
    }
  }
  .certification-card {
    text-align: center;
    margin-top: 60px;
    .certification-card-img {
      height: 120px;
      width: 120px;
      display: flex;
      justify-content: center;
      margin: 0 auto;
    }
    .certification-card-title {
      font-weight: 500;
      font-size: 21px;
      line-height: 32px;
      text-align: center;
      color: #454647;
      margin-top: 29px;
      max-width: 383px;
    }
  }
}

.factory-produce-content {
  min-height: 312px;
  width: 100%;
}

.factory-second-produce-content {
  max-height: 168px;
  width: 100%;
}

p.factory-bottom-left-content {
  font-family: "SVN Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: #2c2d2e;
}

.factory-title-paragraph {
  font-family: "SVN Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
  text-align: justify;
  color: #0979fd;
  margin-bottom: 16px !important;
}

.factory-first-desc {
  margin-bottom: 24px !important;
}

.factory-title-v3 {
  font-family: "SVN Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 133%;
  letter-spacing: 0.22em;
  color: #0979fd;
}

.factory-subtitle-v3 {
  font-family: "SVN Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: #2c2d2e;
  margin: 16px 0px;
}

// slider
.swiper {
  width: 100%;
  .swiper-wrapper {
    align-items: flex-end;
    width: 100%;
    .swiper-slide {
      display: flex;
      justify-content: center;
      .swiper-item-wrap {
        display: flex;
        align-items: center;
        flex-direction: column;
        overflow: hidden;
        position: absolute;
        height: 320px;
        width: 280px;
        z-index: 9;
        bottom: 0;
        transition: 1.2s;
        .swiper-item-bottom-line{
          position: absolute;
          width: 0%;
          height: 0px;
          bottom: 0;
          background: linear-gradient(91.86deg, #0091EF 1.57%, #32D7D4 104.54%);
          border-radius: 8px;
          transition: 1.2s;
        }
        .item-wrap {
          filter: brightness(.6);
          width: 480px;
          transition: 1.2s;
          img {
            width: auto !important;
            height: 100% !important;
            transition: 1.2s;
          }
        }
        .item-border {
          width: 0px;
          transition: 1.2s;
        }
      }
    }
    .swiper-slide-active {
      position: relative;
      height: 500px;
      .swiper-item-wrap {
        display: flex;
        align-items: center;
        flex-direction: column;
        overflow: hidden;
        position: absolute;
        height: 500px;
        width: 580px;
        z-index: 10;
        bottom: 0;
        .swiper-item-bottom-line{
          position: absolute;
          width: 100%;
          height: 8px;
          bottom: 0;
          background: linear-gradient(91.86deg, #0091EF 1.57%, #32D7D4 104.54%);
          border-radius: 8px;
        }
        //background: linear-gradient(91.86deg, #0091ef 1.57%, #32d7d4 104.54%);
        .item-wrap {
          filter: brightness(1);
          position: absolute;
          bottom: 5px;
          width: 580px;
          margin-bottom: 20px;
          display: flex;
          align-items: flex-end;
      }
      }
      .item-border {
        z-index: 10;
        position: absolute;
        bottom: 0;
        width: 580px;
        height: 8px;
        border-radius: 8px;
      }
    }
    .swiper-slide-next {
      position: relative;
      height: 500px;
      overflow: hidden;
      .swiper-item-wrap {
        display: flex;
        align-items: center;
        flex-direction: column;
        overflow: hidden;
        position: absolute;
        height: 360px;
        width: 280px;
        z-index: 9;
        bottom: 0;
        margin-left: 40%;
        .item-wrap {
          width: 540px;
          img {
            width: auto !important;
            height: 100% !important;
          }
        }
      }
    }
    .swiper-slide-prev {
      position: relative;
      height: 500px;
      overflow: hidden;
      .swiper-item-wrap {
        display: flex;
        align-items: center;
        flex-direction: column;
        overflow: hidden;
        position: absolute;
        height: 360px;
        width: 280px;
        z-index: 9;
        bottom: 0;
        margin-right: 40%;
        .item-wrap {
          width: 540px;
          img {
            width: auto !important;
            // width: auto;
            height: 100% !important;
          }
        }
      }
    }
  }
}

.a {
  position: absolute;
  height: 100%;
}
//-------------End Section Activity-------------------------------------------------

//-------------Begin Section Customer Centric-------------------------------------------------
.bg-section-customer-centric {
  background-color: white;
  padding-top: 120px;
  padding-bottom: 120px;
  .customer-centric-row {
    margin-top: 60px;
  }
  .customer-centric-card {
    display: flex;
    margin-bottom: 16px;
    // max-width: 570px;
    padding: 0 24px;
    &:not(:last-child) {
      border-bottom: 1px solid #e1e3e6;
    }
    .customer-centric-icon {
      height: 64px;
      width: 64px;
    }
    .customer-centric-content {
      // max-width: 442px;
      margin-left: 18px;
      margin-bottom: 16px;
      .customer-centric-title {
        font-weight: 700;
        font-size: 28px;
        line-height: 32px;
        color: #0979fd;
        padding-bottom: 8px;
      }

      .customer-centric-item {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #454647;
      }
    }
  }
}

//-------------End Section Customer Centric-------------------------------------------------
//-------------End Section Brand Story-------------------------------------------------
.bg-section-brand-story
{
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #f3f9ff;
}
//-------------End Section Brand Story-------------------------------------------------